*{
    margin: 0px;
    padding: 0px;
}

body{
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;  
}

header h1{
    background: #ce3d3d;
    height: 200px;
    width: 100%;
    text-align: center;
    line-height: 200px;
    color: white;
    border-bottom: 10px solid white;
    font-size: 50px;
}
nav{
    background: black;
    height: 50px;
    border-bottom: 5px solid white 
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin-left: 45px;
}

nav ul li a{
text-decoration: none;
color: white;
}

nav ul li:hover{
    background-color: white;
}
nav ul li a:hover{
    color: black;
}

.hola{
clear: both; /*todas las secciones quedaran una debajo de otra*/
}

#contenido{
    float: left;
    width: auto;
    min-height: 500px;
    background: white;
    padding: 40px;
}

.articulo{
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
    line-height: 50px;
}
h2{
    margin-bottom: 15px;
}
h3{
    margin-bottom: 10px;
}

p{
    margin-bottom: 10px;
}

.pcontacto{
    margin-bottom: 30px;
}
form {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f2f2f2;
    
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ce3d3d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

button:hover {
    background-color: #000000;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#genero, #edad, #peso, #altura {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#genero {
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

.redes-sociales {
    display: flex;
}

.redes-sociales a {
    margin-right: 50px; 
}

.redes-sociales img {
    width: 100px; 
    height: auto; 
    
}

.antonio{
    margin-bottom: 30px;
}

.mapa{
    font-size: 16px;
}

img{
   margin-bottom: 30px; 
   width: 700px;
}